.top{
    margin:0;
    width: auto;
    background: black;
    text-align: center;
    line-height:100px;
    background:linear-gradient(#000000,white);
    height:100%;
}
.text1 {
    font-size: 60px;
    color: #ffffff;
    font-family: "黑体";
}
.text {
    font-family: "黑体";
    font-size: 20px;
    float: left;
}
.ex{
    box-sizing: border-box;
    width:70%;
    height:30px;
    position: relative;
    padding-left: 20px;
    margin:5px;
    margin-bottom:20px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    border:none;
    transition: background 1s;
    background:linear-gradient(white,aliceblue);
}
.ex:hover{
    background: rgb(180, 180, 180);
    /*border:3px solid lightgreen;*/
}
.ex a{
    font-size: 25px;
    font-family:"黑体";
    float: right;
    padding-right: 20px;
    opacity: 1;
    color: #040404;
}
.ex a:hover{
    font-weight: bold;
}