#tb1
{
    table-layout: fixed;
    margin:50px;
    width: 500px;
    height: 250px;
    background: #888888;
    border-collapse:separate;
    border-spacing:10px;
    border:#000000 solid 3px ;
}
#tb11,
#tb12,
#tb21,
#tb22,
#tb31,
#tb32{
    width: 250px;
    border:#000000 solid 3px ;
}