#t1{
	width: 800px;
	height: 100px;
	/*background: #aaa;*/
}
#t1 td{
	width: 25%;
}

#t2{
	width: 800px;
	height: 100px;
	background: #bbb;
}
#t2 td{
	width: 50%;
}

#t3{
	width: 800px;
	height: 300px;
	background: #ccc;
}
#t3 #t3d1{
	width: 40%;
}
#t3 #t3d2{
	width: 60%;
}
.ts{
	border-right: 1px dashed #101010;
}
.tt2{
    border-right: 1px dashed:#101010;
}
.big{
    font-weight: 500;
}