#box{
    width: 400px;
    height: 600px;
    border: 1px solid #666666;
}
#box1{
    width: 400px;
    height: 40px;
    background: #ffffff;
}

.tb11 {
    float: left;
    width: 20%;
    height: 35px;
    background: #ffffff;
    text-align: center;
    border: 2px solid #666666;
    box-sizing: border-box;
    font-size: 30px;
}
#box2{
    float: left;
    width: 400px;
    height: 100px;
    background: #ffffff;
}
.tr21{
    float: left;
    box-sizing:content-box;
    padding: 3px;
    margin-left: 30px;
    margin-top: 10px;
    width:320px;
    height:20px;
    border:2px solid #000;
    background: #ffffff;

}
.box3{
    width: 400px;
    height: 200px;
    background: #ffffff;
}
.box31{
    float: left;
    width: 400px;
    height: 50px;
    background: #ffffff;
}
#tb31{
    margin-left: 30px;;
    position: relative;
    float: left;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    background: #f32214;
}
.tb32{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    width: 200px;
    height: 20px;
    padding: 2px;
    border:2px solid #000;
    background: #ffffff;
}
.tb33{
    float: inherit;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 50px;
    width: 60px;
    height: 30px;
    background: #f62;
}
#box4{
    width: 400px;
    height: 100px;
    background: #ffffff;
}
#box5{
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    padding: 10px;
    background: #ffffff;
}

.small {
    width: 60px;
    height: 60px;
    margin: 5px;
    float: left;
    background-color: #f3472a;
}

.end {
    width: 300px;
    height: 0;
    clear: both;
}

.big {
    width: 130px;
    height: 130px;
    margin: 5px;
    float: left;
    background-color: #f3472a;
}